<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- custom styles -->
<link type="text/css" rel="stylesheet" href="../styles/style.css">

<title>Me Eat Now!</title>
</head>
<body>

<div class="navbar header">
<h2>Me Eat Now!</h2>
<div class="col-sm-3 col-md-3">
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="q">
            <div class="input-group-btn">
                <button class="btn btn-default" type="success"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
    </div>
<div>
<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d12611.975766322195!2d-122.40658554999999!3d37.79018175!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1437093219555" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>